* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    max-width: 960px;
    margin: auto;
}

h1, h2{
    text-align: center;
    color: rgb(223, 107, 40);
    margin: auto;
    padding: 3px;  
}
li, p {
    font-size: 16px;
    padding: 6px;
    font-style: italic;
    color: rgb(121, 69, 69);
    list-style-type: none;
}
a {
    color: rgb(197, 115, 8);
    font-size: larger;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 440px;
    width: auto;

}

h1 {
    color: rgb(182, 51, 28);
}

p {
    padding: 20px;
    margin: 10px;
}
iframe {
    width: 400px;
    height: 500px;
    border: none;    
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#title {
    font-size: 90px;
    font-weight: bold; 
    color: #FF5733; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    letter-spacing: 4px; 
    text-transform: uppercase;
}
