* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}

h1, h2{
    text-align: center;
    color: rgb(223, 107, 40);
    margin: auto;
    padding: 3px;  
}
li, p {
    font-size: smaller;
    padding: 6px;
    font-style: italic;
    color: rgb(121, 69, 69);
    list-style-type: none;
}
a {
    color: rgb(197, 115, 8);
    font-size: larger;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 440px;
    width: auto;

}

h1 {
    color: rgb(182, 51, 28);
}

p {
    padding: 20px;
    margin: 10px;
}